<ion-header>
  <ion-toolbar>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-grid fixed>
      <h1 style="margin-left: 15px;"><b>Olá, seja bem vindo!</b></h1>
      <ion-row>
        <ion-col size="6">
          <ion-card [routerLink]="['/professor']">
            <ion-card-content>
              <img src="../../assets/svg/teacher.svg" alt="Professores" />
              <ion-card-subtitle>Professores</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card [routerLink]="['/aluno']">
            <ion-card-content>
              <img src="../../assets/svg/student.svg" alt="Alunos" />
              <ion-card-subtitle>Alunos</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card [routerLink]="['/turma']">
            <ion-card-content>
              <img src="../../assets/svg/e-learning.svg" alt="Turmas" />
              <ion-card-subtitle>Turmas</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-item-divider>
      <ion-label>
        <ion-title>UNIDESC 2020</ion-title>
      </ion-label>
    </ion-item-divider>
  </ion-toolbar>
</ion-footer>
